<div class="header">
    <nav class="navbar navbar-default navbar-inverse" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
                    <div class="form-group">
                        <div class="form-group">
                            <label for="sel1">Select Origin:</label>
                            <select class="form-control" id="sel1">
                                <option>Chattanooga</option>
                                <option>Knoxville</option>
                                <option>Memphis</option>
                                <option>Nashville</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="sel1">Select Origin:</label>
                            <select class="form-control" id="sel1">
                                <option>Chattanooga</option>
                                <option>Knoxville</option>
                                <option>Memphis</option>
                                <option>Nashville</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block" ng-click="itineraryList.findItineraries">Find Flights!</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </nav>
</div>